eBillingSuite/sourcecode/eBillingSuite.Host/Web References/WSLicensing/Licensing.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://suitelicensing.pi-co.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://suitelicensing.pi-co.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://suitelicensing.pi-co.com/">
      <s:element name="SerialChecker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="produto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macaddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SerialCheckerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SerialCheckerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SerialCheckerSoapIn">
    <wsdl:part name="parameters" element="tns:SerialChecker" />
  </wsdl:message>
  <wsdl:message name="SerialCheckerSoapOut">
    <wsdl:part name="parameters" element="tns:SerialCheckerResponse" />
  </wsdl:message>
  <wsdl:portType name="LicensingSoap">
    <wsdl:operation name="SerialChecker">
      <wsdl:input message="tns:SerialCheckerSoapIn" />
      <wsdl:output message="tns:SerialCheckerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LicensingSoap" type="tns:LicensingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SerialChecker">
      <soap:operation soapAction="http://suitelicensing.pi-co.com/SerialChecker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LicensingSoap12" type="tns:LicensingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SerialChecker">
      <soap12:operation soapAction="http://suitelicensing.pi-co.com/SerialChecker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Licensing">
    <wsdl:port name="LicensingSoap" binding="tns:LicensingSoap">
      <soap:address location="http://www.suitelicensing.pi-co.com/Licensing.asmx" />
    </wsdl:port>
    <wsdl:port name="LicensingSoap12" binding="tns:LicensingSoap12">
      <soap12:address location="http://www.suitelicensing.pi-co.com/Licensing.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>